<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script th:src="@{/static/js/bootstrap.js}"></script>
    <link rel="stylesheet" th:href="@{/static/css/bootstrap/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/static/css/my/general.css}">
    <link rel="stylesheet" th:href="@{/static/css/my/admin.css}">
    <title>Document</title>
</head>
<body>
<header class="header">
    <div class="header__body">
        <div class="header__user">
            <div class="user__body">
                <div class="user__img"></div>
                <div class="user__name">Kirill Lysyakov</div>
            </div>
        </div>
        <nav class="header__menu">
            <ul class="nav justify-content-end me-5">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<main>
    <div class="container-fluid mt-3">
        <div class="row">
            <div class="col-3 sidebar-nav">
                <div class="list-group mt-3 mb-3">
                        <a th:href="@{/admin/users}" class="list-group-item list-group-item-action active">Users Managment</a>
                        <a th:href="@{/admin/products}" class="list-group-item list-group-item-action">Products Managment</a>
                        <a th:href="@{/admin/providers}" class="list-group-item list-group-item-action ">Providers Managment</a>
                        <a th:href="@{/admin/categories}" class="list-group-item list-group-item-action " >Category Managment</a>
                        <a th:href="@{/admin/photos}" class="list-group-item list-group-item-action">Photo Managment</a>
                </div>
            </div>
            <div class="col main-content">
                <button type="button" class="btn btn-primary mt-2" data-bs-toggle="modal" data-bs-target="#createUser">
                    Create New User
                </button>
                <!-- Modal -->
                <div class="modal fade" id="createUser" tabindex="-1" aria-labelledby="staticBackdropLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">Input Data </h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <h5>Popover in a modal</h5>
                                <p>This
                                    <a href="#" role="button" class="btn btn-secondary popover-test"
                                       title="Popover title"
                                       data-bs-content="Popover body content is set in this attribute.">
                                        button
                                    </a> triggers a popover on click.</p>
                                <hr>
                                <h5>Tooltips in a modal</h5>
                                <p>
                                    <a href="#" class="tooltip-test" title="Tooltip">
                                        This link
                                    </a> and <a href="#" class="tooltip-test" title="Tooltip">
                                    that link
                                </a> have tooltips on hover.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table mt-3">
                    <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Password</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                            <tr th:each="user:${userList}">
                                <td th:text="${user.id}"></td>
                                <td th:text="${user.name}"></td>
                                <td th:text="${user.email}"></td>
                                <td th:text="${user.phone}"></td>
                                <td th:text="${user.password}"></td>
                                <td>
                                    <form th:action="@{/admin/users/delete}" method="post">
                                        <input type="hidden" th:value="${user.id}" th:name="id">
    1                                   <input type="submit" class="btn btn-danger">
                                    </form>
                                </td>
                            </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
<footer class="bottom-0 footer">
    <div class="footer__info">+375259999999, г. Гродно, le.le999@mail.com</div>
</footer>
</body>
</html>