<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script th:src="@{/static/js/popper.min.js}"></script>
    <script th:src="@{/static/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/static/css/bootstrap/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/static/css/my/general.css}">
    <title>Document</title>
</head>
<body>
<header class="header">
    <div class="header__body">
        <div class="header__user">
            <div class="user__body">
                <div class="user__img"></div>
                <div class="user__name">Kirill Lysyakov</div>
            </div>
        </div>
        <nav class="header__menu">
            <ul class="nav justify-content-end me-5">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<main>
    <div class="container-fluid mt-3">
        <div class="row">
            <div class="col-3 sidebar-nav" >
                <div class="list-group ">
                    <a th:href="@{/users/}" class="list-group-item list-group-item-action">Users Managment</a>
                    <a th:href="@{/products/}" class="list-group-item list-group-item-action ">Products Managment</a>
                    <a th:href="@{/providers/}" class="list-group-item list-group-item-action">Provider Managment</a>
                    <a th:href="@{/categories/}" class="list-group-item list-group-item-action active">Category Managment</a>
                    <a th:href="@{/photos/}" class="list-group-item list-group-item-action">Photo Managment</a>
                </div>
            </div>
            <div class="col main-content mt-3">

                <h3 > Parent Categories</h3>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Title</th>
                        <th scope="col">Update</th>
                        <th scope="col">Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="parentCategory : ${parentCategories}">
                        <form th:action="@{/categories/}" method="POST"  >
                            <th scope="row">
                                <input type="text"  class="form-control" th:name="id" th:value="${parentCategory.id}" disabled>
                            </th>
                            <td>
                                <input type="text" class="form-control" th:name="title" th:value="${parentCategory.title}">
                            </td>
                            <td>
                                <input type="submit" class="btn btn-success" value="Update">
                            </td>
                            <td>
                                <input type="submit" class="btn btn-danger" value="Delete" >
                            </td>
                        </form>
                    </tr>
                    </tbody>
                </table>

                <h3>Sub Categories </h3>
                <div th:each="parentCategory,itemStat : ${parentCategories}">
                    <h5 th:utext="${parentCategory.title}"></h5>
                    <h6>ADD NEW SUBCATEGORY</h6>
                    <form th:action="@{/categories/}" method="POST" >
                        <input type="text" class="form-control" th:value="${newCategoryDtos.get(__${itemStat.index}__).title}" th:name="title">
                        <input type="text" class="form-control" th:value="${newCategoryDtos.get(__${itemStat.index}__).parentCategoryId}" th:name="parentCategoryId" >
                        <button  class="btn btn-primary" type="submit">Save New SubCategory</button>
                    </form>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Title</th>
                            <th scope="col">Update</th>
                            <th scope="col">Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="subCategory,itemStat : ${parentCategory.subcategories}">
                            <form th:action="@{/categories/}" method="put"  >
                                <th scope="row">
                                    <input type="text" style="width:auto;" class="form-control " th:name="id" th:value="${subCategory.id}" disabled >
                                </th>
                                <td>
                                    <input type="text" class="form-control" th:name="title" th:value="${subCategory.title}">
                                </td>
                                <td>
                                    <input type="submit" class="btn btn-success" value="Update">
                                </td>

                            </form>
                            <form th:action="@{/categories/${subCategory.id}}" method="post" >
                                <td>
                                    <input type="submit" class="btn btn-danger" value="Delete" >
                                </td>
                            </form>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>
<footer class="bottom-0 footer">
    <div class="footer__info">+375259999999, г. Гродно, le.le999@mail.com</div>
</footer>
</body>
</html>