<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script th:src="@{/static/js/popper.min.js}"></script>
  <script th:src="@{/static/js/bootstrap.min.js}"></script>
  <link rel="stylesheet" th:href="@{/static/css/bootstrap/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/static/css/my/general.css}">
  <title>Document</title>
</head>
<body>
<header class="header">
  <div class="header__body">
    <div class="header__user">
      <div class="user__body">
        <div class="user__img"></div>
        <div class="user__name">Kirill Lysyakov</div>
      </div>
    </div>
    <nav class="header__menu">
      <ul class="nav justify-content-end me-5">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
<main>

      <div class="col main-content mt-3">

        <table class="table">
          <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Short Description</th>
                <th scope="col">Barcode</th>
                <th scope="col">Quantity in storage</th>
                <th scope="col">Price</th>
                <th scope="col">Category</th>
                <th scope="col">Photo</th>
                <th scope="col">Provider</th>
                <th scope="col">Attributes</th>
                <th scope="col">Delete</th>
              </tr>
          </thead>
          <tbody>
             <form th:action="@{/products/list}" method="POST" th:object="${listProductDtos}">
                <tr th:each="product,itemStat : *{productDtoList}">
                    <th scope="row"  th:utext="${product.id}"></th>
                    <td>
                      <input type="text"  th:field="*{productDtoList[__${itemStat.index}__].shortDescription}" class="form-control" >
                    </td>
                    <td>
                      <input type="text" th:field="*{productDtoList[__${itemStat.index}__].barcode}" class="form-control" >
                    </td>
                    <td>
                      <input type="text" th:field="*{productDtoList[__${itemStat.index}__].quantityInStorage}" class="form-control"   >
                    </td>
                    <td>
                      <input type="text" th:field="*{productDtoList[__${itemStat.index}__].price}"  class="form-control">
                    </td>

                    <td>
                      <select  class="form-select w-auto" >
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                    </td>
                    <td>
                      <select class="form-select w-auto" >
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                    </td>
                    <td>
                      <select class="form-select w-auto" >
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                    </td>
                    <!--TODO: Something to show attributes -->
                    <td>
                      <input type="submit" class="btn btn-primary" value="Open">
                    </td>
                    <td>
                      <input type="submit" class="btn btn-danger" value="Delete" >
                    </td>
                </tr>
                 <input type="submit" value="Save Changes">
            </form>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</main>
<footer class="footer">
  <div class="footer__info">+375259999999, г. Гродно, le.le999@mail.com</div>
</footer>
</body>
</html>