<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script th:src="@{/static/js/bootstrap.js}"></script>
    <link rel="stylesheet" th:href="@{/static/css/bootstrap/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/static/css/my/general.css}">
    <link rel="stylesheet" th:href="@{/static/css/my/admin.css}">
    <title>Document</title>
</head>
<body>
<header class="header">
    <div class="header__body">
        <div class="header__user">
            <div class="user__body">
                <div class="user__img"></div>
                <div class="user__name">Kirill Lysyakov</div>
            </div>
        </div>
        <nav class="header__menu">
            <ul class="nav justify-content-end me-5">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}">Main Page</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<main>
    <div class="container-fluid mt-3">
        <div class="row">
            <div class="col-3 sidebar-nav">
                <div class="list-group mt-3 mb-3">
                        <a th:href="@{/admin/users}" class="list-group-item list-group-item-action active">Users Managment</a>
                        <a th:href="@{/admin/products}" class="list-group-item list-group-item-action">Products Managment</a>
                        <a th:href="@{/admin/providers}" class="list-group-item list-group-item-action ">Providers Managment</a>
                        <a th:href="@{/admin/categories}" class="list-group-item list-group-item-action " >Category Managment</a>
                        <a th:href="@{/admin/photos}" class="list-group-item list-group-item-action">Photo Managment</a>
                </div>
            </div>
            <div class="col main-content">
                <table class="table mt-3">
                    <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Password</th>
                        <th scope="col">Orders</th>
                        <th scope="col">Roles</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                            <tr th:each="user:${userList}">
                                <td th:utext="${user.id}"></td>
                                <td th:utext="${user.name}"></td>
                                <td th:utext="${user.email}"></td>
                                <td th:utext="${user.phone}"></td>
                                <td th:utext="${user.password}"></td>
                                <td>
                                    <a th:href="@{'/admin/users/'+${user.id}}" th:utext="'Orders'"></a>
                                </td>
                                <td>
                                    <div th:each="role : ${user.roles}" >
                                        <form th:action="@{/admin/users/delete-role}" method="post">
                                            <div th:utext="${role.name}"></div>
                                            <input type="hidden" th:value="${user.id}" th:name="id">
                                            <input type="hidden" th:value="${role.id}" th:name="roleForActionId">
                                            <input type="submit" class="btn btn-warning" value="Delete Role">
                                        </form>
                                    </div>
                                    <form th:action="@{/admin/users/set-role}" method="post">
                                        <input type="hidden" th:value="${user.id}" th:name="id">
                                        <select  class="form-select w-auto" th:value="${user.roleForActionId}"
                                                 th:name="roleForActionId" >
                                            <option th:each="curRole : ${allRoles}" th:value="${curRole.id}"
                                            th:utext="${curRole.name}">
                                            </option>
                                        </select>
                                        <input type="submit" class="btn btn-primary" value="Add Role" >
                                    </form>
                                </td>
                                <td>
                                    <form th:action="@{/admin/users/delete}" method="post">
                                        <input type="hidden" th:value="${user.id}" th:name="id">
    1                                   <input type="submit" class="btn btn-danger" value="Delete User">
                                    </form>
                                </td>
                            </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
<footer class="bottom-0 footer">
    <div class="footer__info">+375259999999, г. Гродно, le.le999@mail.com</div>
</footer>
</body>
</html>