body{
    display: grid;
    grid-template: minmax(40px,auto) 1fr minmax(40px,auto)/1fr;
}
.title{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 5px;
}
.container{
    grid-row: 2/3;
    display: flex;
    justify-content: center;
    margin:30px;
}
.container__body {
    display: grid;
    grid-template: 1fr 1fr / 1fr;
    border: 1px solid #0d6efd;
    padding: 50px 80px;
    border-radius: 15px;
}
.container__login {
}
.container__title {
    font-weight: 700;
}
.container__input {
    padding: 10px;
    border:1px solid #0d6efd;
    border-radius: 6px;
    box-shadow:1px 1px  gray;
    margin:10px 0px;
}
.input-login {
}
.input-login__title {
}

.input-passwd {
}
.input-passwd__title {
}
.container__signup {

}
.input-email {
}
.input-email__title {
}
.warning{
    color: red;
}
