<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{static/css/my/signinsignup.css}">
    <title>Sing UP</title>
</head>
<body>
    <div class="container">
        <div class="container__body">
            <div class="container__signup">    
                <div class="container__title title">Sign Up</div>
                <h5 class="warning" th:if="${userExist}" th:utext="'User With Such Email Exists!'"></h5>
                <form th:action="@{/sing-up}" method="post" th:object="${userDto}">
                    <div class="container__input ">
                        <div class="input-login">
                            <div class="input-login__title title">Input Email</div>
                            <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="warning"></div>
                            <input type="email" th:field="*{email}" required>
                        </div>
                        <div class="input-passwd">
                            <div class="input-passwd__title title">Input Password</div>
                            <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="warning" ></div>
                            <input type="password" th:field="*{password}"  required>
                        </div>
                        <div class="input-email">
                            <div class="input-email__title title">Input Name</div>
                            <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="warning"></div>
                            <input type="text" th:field="*{name}" required>
                        </div>
                        <div class="input-email">
                            <div class="input-email__title title">Input Phone</div>
                            <div th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" class="warning"></div>
                            <input type="tel" th:field="*{phone}" required>
                        </div>
                    </div>
                    <button class="btn btn-primary" type="submit">Sign Up</button>
                </form>
            </div>
            <div class="container__invite"></div>
        </div>    
    </div>
</body>
</html>