<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/my/general.css">
    <link rel="stylesheet" href="/static/css/my/search.css">
    <title>Document</title>
</head>
<body>
    <div class="content">
        <header class="header">
            <div class="header__body">
                <div class="header__user">
                    <div class="user__body">
                        <div class="user__img"></div>
                        <div class="user__name">Kirill Lysyakov</div>
                    </div>
                </div>
                <nav class="header__menu">
                        <ul class="nav justify-content-end me-5">
                            <li class="nav-item">
                                <a class="nav-link" href="#">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Features</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Pricing</a>
                            </li>
                        </ul>
                </nav>
            </div>
        </header>

        <main class="main">
            <div class="main__body">
                <aside class="sidebar">
                    <nav class="sidebar__menu">
                        <ul class="sidebar__list ">
                            <li class="sidebar__item">
                                <div class="item-sidebar__header">COmpa and </div>
                                <ul class="item-sidebar__hidden-list">
                                    <li>
                                        <a href="#">Some things</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="sidebar__item">
                                <div class="item-sidebar__header">COmpa and</div>
                                <ul class="item-sidebar__hidden-list">
                                    <li>
                                        <a href="#">Some things</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="sidebar__item">
                                <div class="item-sidebar__header">COmpa and</div>
                                <ul class="item-sidebar__hidden-list">
                                    <li>
                                        <a href="#">Some things</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="sidebar__item">
                                <div class="item-sidebar__header">COmpa and</div>
                                <ul class="item-sidebar__hidden-list">
                                    <li>
                                        <a href="#">Some things</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                    <div class="find-by-bar">
                        <div class="find-by-bar__header">
                            Specifications
                        </div>
                        <div class="find-by-bar__body">

                        </div>
                    </div>
                </aside>
                <section class="products">
                    <div class="products__header container ">
                        <nav class="navbar navbar-light bg-light">
                            <div class="container-fluid">
                              <form class="d-flex" method="GET">
                                <select name="sortSelect" id="" class="form-select" >
                                    <option value="1" onclick="">
                                        Price increase
                                    </option>
                                    <option value="2" onclick="form.submit()">Price decrease</option>
                                    <option value="3" onclick="form.submit()">Name increase</option>
                                    <option value="4" onclick="form.submit()">Name decrease</option>
                                </select>
                                <input class="form-control me-2" name="searchName" type="search" placeholder="Search" aria-label="Search">
                                <button class="btn btn-outline-success" type="submit">Search</button>
                              </form>
                            </div>
                          </nav>
                    </div>
                    <div class="products__body">
                        <div class="row row-cols-4 row-cols-md-3 g-4 " >
                            <div class="col">
                            <div class="card w-75" >
                                <img src="/static/img/unnamed.jpg" class="card-img-top" alt="#">
                                <div class="card-body">
                                <a class="card-text" href="#"   >Лампа светодиодная LED-СВЕЧА-standard 5Вт 230В Е14 3000К 450Лм ASD</a>
                                </div>
                                <button type="button" class="btn btn-success">Add to orders</button>  
                            </div>
                            </div>
                            <div class="col">
                                <div class="card w-75" >
                                <img src="/static/img/unnamed.jpg" class="card-img-top" alt="#">
                                <div class="card-body">
                                    <a class="card-text" href="#"   >Лампа светодиодная LED-СВЕЧА-standard 5Вт 230В Е14 3000К 450Лм ASD</a>
                                </div>
                                <button type="button" class="btn btn-success">Add to orders</button>  
                                </div>
                            </div>
                            <div class="col">
                                <div class="card w-75" >
                                <img src="/static/img/unnamed.jpg" class="card-img-top" alt="#">
                                <div class="card-body">
                                    <a class="card-text" href="#"   >Лампа светодиодная LED-СВЕЧА-standard 5Вт 230В Е14 3000К 450Лм ASD</a>
                                </div>
                                <button type="button" class="btn btn-success">Add to orders</button>  
                                </div>
                            </div>
                            <div class="col">
                                <div class="card w-75" >
                                <img src="/static/img/unnamed.jpg" class="card-img-top" alt="#">
                                <div class="card-body">
                                    <a class="card-text" href="#"   >Лампа светодиодная LED-СВЕЧА-standard 5Вт 230В Е14 3000К 450Лм ASD</a>
                                </div>
                                <button type="button" class="btn btn-success">Add to orders</button>  
                                </div>
                            </div>
                            <div class="col">
                                <div class="card w-75" >
                                <img src="/static/img/unnamed.jpg" class="card-img-top" alt="#">
                                <div class="card-body">
                                    <a class="card-text" href="#"   >Лампа светодиодная LED-СВЕЧА-standard 5Вт 230В Е14 3000К 450Лм ASD</a>
                                </div>
                                <button type="button" class="btn btn-success">Add to orders</button>  
                                </div>
                            </div>
                            <div class="col">
                                <div class="card w-75" >
                                <img src="/static/img/unnamed.jpg" class="card-img-top" alt="#">
                                <div class="card-body">
                                    <a class="card-text" href="#"   >Лампа светодиодная LED-СВЕЧА-standard 5Вт 230В Е14 3000К 450Лм ASD</a>
                                </div>
                                <button type="button" class="btn btn-success">Add to orders</button>  
                                </div>
                            </div>
                            <div class="col">
                                <div class="card w-75" >
                                <img src="/static/img/unnamed.jpg" class="card-img-top" alt="#">
                                <div class="card-body">
                                    <a class="card-text" href="#"   >Лампа светодиодная LED-СВЕЧА-standard 5Вт 230В Е14 3000К 450Лм ASD</a>
                                </div>
                                <button type="button" class="btn btn-success">Add to orders</button>  
                                </div>
                            </div>
                            <div class="col">
                                <div class="card w-75" >
                                <img src="/static/img/unnamed.jpg" class="card-img-top" alt="#">
                                <div class="card-body">
                                    <a class="card-text" href="#"   >Лампа светодиодная LED-СВЕЧА-standard 5Вт 230В Е14 3000К 450Лм ASD</a>
                                </div>
                                <button type="button" class="btn btn-success">Add to orders</button>  
                                </div>
                            </div>
                            <div class="col">
                                <div class="card w-75" >
                                <img src="/static/img/unnamed.jpg" class="card-img-top" alt="#">
                                <div class="card-body">
                                    <a class="card-text" href="#"   >Лампа светодиодная LED-СВЕЧА-standard 5Вт 230В Е14 3000К 450Лм ASD</a>
                                </div>
                                <button type="button" class="btn btn-success">Add to orders</button>  
                                </div>
                            </div>
                            <div class="col">
                                <div class="card w-75" >
                                <img src="/static/img/unnamed.jpg" class="card-img-top" alt="#">
                                <div class="card-body">
                                    <a class="card-text" href="#"   >Лампа светодиодная LED-СВЕЧА-standard 5Вт 230В Е14 3000К 450Лм ASD</a>
                                </div>
                                <button type="button" class="btn btn-success">Add to orders</button>  
                                </div>
                            </div>
                            <div class="col">
                                <div class="card w-75" >
                                <img src="/static/img/unnamed.jpg" class="card-img-top" alt="#">
                                <div class="card-body">
                                    <a class="card-text" href="#"   >Лампа светодиодная LED-СВЕЧА-standard 5Вт 230В Е14 3000К 450Лм ASD</a>
                                </div>
                                <button type="button" class="btn btn-success">Add to orders</button>  
                                </div>
                            </div>
                            <div class="col">
                                <div class="card w-75" >
                                <img src="/static/img/unnamed.jpg" class="card-img-top" alt="#">
                                <div class="card-body">
                                    <a class="card-text" href="#"   >Лампа светодиодная LED-СВЕЧА-standard 5Вт 230В Е14 3000К 450Лм ASD</a>
                                </div>
                                <button type="button" class="btn btn-success">Add to orders</button>  
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="mt-5 d-flex justify-content-evenly">
                          <button type="button" class="btn btn-primary p-3 me-5">Previous</button>
                          <button type="button" class="btn btn-primary p-3 me-5">Next</button>
                    </div>
                </section>
            </div>
        </main> 

        <footer class="footer">
            <div class="footer__info">+375259999999, г. Гродно, le.le999@mail.com</div>
        </footer>   
    </div>
</body>
</html>